<div id="<%= dom_id secret %>" class="secret">
  <strong>
    <%= secret.title %>
  </strong>
  <% if user_signed_in? && secret.user != nil %>
    <p class="secret-username"><%= secret.user.username %></p>
  <% else %>
    <p class="secret-username">****</p>
  <% end %>
  <p>
    <%= secret.body %>
  </p>

</div>
