<head>
  <%= stylesheet_link_tag 'index' %>
</head>

<div class="content">
  <div class="profile">
    <h2>Profile</h2>
    <div class="profile-infos">
    <h3>Max Musterman</h3>
    <div class='posted-secrets'>
      <strong>Secrets:</strong>
      10
    </div>
    <div class="posted-comments">
      <strong>Comments:</strong>
      20
    </div>
    <div class="controversy-points">
      <strong>controversy Points:</strong>
      200
    </div>
    </div>
  </div>
  <div class="secrets-content">
    <h2>Tell us your Secret</h2>
    <div class="secret">
      <%= render 'secrets/form', secret: @secret %>
    </div>
    <h2>Submited Secrets</h2>
    <div id="secrets">
      <% @secrets.each do |secret| %>
        <%= link_to secret, class: 'secret-link' do %>
          <%= render secret %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
