<p style="color: green"><%= notice %></p>

<div class='back-button'>
  <%= link_to secrets_path do %>
  <i class="fas fa-times-circle close-icon"></i>
  <% end %>
</div>

<div class="show-secret">
  <%= render @secret %>
</div>
