
.content{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}

.secrets-content{
  justify-self: center;
  align-self: center;
}

.profile{
  position: fixed;
  top: 145px;
  margin-left: 50px;
  width: 50px;
}

.profile-infos{
  display: flex;
  flex-direction: column;
  background-color: #2A9D8F;
  padding: 10px 20px 30px 20px;
  border-radius: 8px;
  width: 15vw;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.301);
  align-self: start;
  justify-self: start;
}

.edit-profile-link{
  text-decoration: none;
}

.profile-infos div:not(:last-child){
  margin-bottom: 10px;
}

.secret-link{
  text-decoration: none;
  color: white;
}

a .secret{
  background-color: #2A9D8F;
  padding: 10px 20px;
  border-radius: 8px;
  width: 30vw;
  margin-bottom: 20px;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.301);
  padding-top: 20px;
}

a .secret:hover{
  transition: 0.2s;
  background-color: #2fb4a5;
}

.secret{
  background-color: #2A9D8F;
  padding: 10px 20px;
  border-radius: 8px;
  width: 30vw;
  margin-bottom: 50px;
  font-size: 18px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.308);
  padding-top: 20px;
  word-break: break-word;
}

.secret input[type=text]{
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  width: 96%;
  height: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secret input[type=text]:hover{
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.308);
}

.secret input[type=text]:focus{
  border: 0px solid black;
  outline: 0px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.308);
}

.secret textarea{
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.25);
  outline: none;
  max-width: 96%;
  min-width: 96%;
  min-height: 10vh;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow:scroll;
  word-wrap: hard;
}

.secret textarea:hover{
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.308);
}

.secret input[type=submit]{
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #E76F51;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.secret input[type=submit]:hover{
  background-color: #E9C46A;
  transition: 0.1s;
}

a .secret strong{
  font-size: 20px;
}

.secret-username{
  font-weight: 100;
  color: #E9C46A;
  margin-top: 0px;
  margin-bottom: -10px;
}

.error{
  font-size: 16px;
}

.error-header{
  margin-bottom: -15px;
  font-size: 20px;
}

li{
  list-style: none;
  margin-left: -40px;
}

h2{
  align-self: flex-start;
  margin-left: 0vw;
  font-size: 20px;
}

h3{
  font-size: 18px;
}

.attention{
  font-size: 14px;
}